@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
  
*@
@*
we can use bootstrap class for css.as it is by default present in wwwwroot
*@
    


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>

    <tr>
        <td>101</td>
        <td>Laptop</td>
        <td>1000</td>
        <td>2</td>
        <td>
            <button class="btn btn-danger">Edit</button>
            <button class="btn btn-warning">Delete</button>
        </td>
    </tr>

</table>